MYSQL_DATABASE=jadeguard
MYSQL_USER=jadeguard
MYSQL_PASSWORD=jadeguard
MYSQL_ROOT_PASSWORD=jadeguard_root
MYSQL_PORT=3307
JADEGUARD_DB_URL=jdbc:mysql://127.0.0.1:3307/jadeguard?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
JADEGUARD_DB_USER=jadeguard
JADEGUARD_DB_PASSWORD=jadeguard
BACKEND_PORT=8080
JADEGUARD_JWT_SECRET=replace-with-at-least-32-random-characters
JADEGUARD_JWT_EXPIRATION_SECONDS=3600
FRONTEND_PORT=5173
